body {
    margin: 0 auto;
    background: white;
    text-align: center;
}

.navbar {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
    height: 4em;
    margin-left: 4em;
}

.logo img {
    width: 100%;
    height: 4em;
}

.element {
    width: 40%;
    height: 4em;
    margin-right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element li {
    list-style: none;
    color: crimson;
}

.image {
    width: 100%;
    height: 2em;
    margin-top: 3%;
}

.image img {
    width: 2%;
    height: 2em;
}

.para {
    width: 100%;
    height: 5em;
    margin-top: 3%;
}

.para h1 {
    color: lightseagreen;
}

.text {
    width: 100%;
    height: 13em;
    display: flex;
    justify-content: space-between;
}

.text1 {
    width: 46%;
    height: 13em;
    color: gray;
    margin-left: 4em;
}

.text2 {
    width: 46%;
    height: 13em;
    color: gray;
    margin-right: 4em;
}

.choix {
    width: 100%;
    height: 20em;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.choix1 {
    width: 27%;
    height: 20em;
    background-color: mediumaquamarine;
    color: white;
    border-radius: 2em;
    margin-left: 4em;
}

.choix1 img {
    width: 13%;
    height: 2em;
    margin-right: 8em;
}

.choix2 {
    width: 27%;
    height: 20em;
    background-color: cornflowerblue;
    color: white;
    border-radius: 2em;
}

.choix2 img {
    width: 13%;
    height: 2em;
    margin-right: 8em;
}

.choix3 {
    width: 27%;
    height: 20em;
    background-color: black;
    color: white;
    border-radius: 2em;
    margin-right: 4em;
}

.choix3 img {
    width: 13%;
    height: 2em;
    margin-right: 8em;
}

.pub {
    width: 100%;
    height: 15em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.part1 {
    width: 30%;
    height: 15em;
    color: mediumaquamarine;
    margin-left: 4em;
}

.part2 {
    width: 55%;
    height: 15em;
    margin-right: 4em;
}

.part2 img {
    width: 40%;
    height: 5em;
}

.compos {
    width: 100%;
    height: 26em;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    background-color:lightskyblue ;
}

.comp1 {
    width: 47%;
    height: 26em;
    margin-left: 2%;
}

.comp1 img {
    width: 70%;
    height: 13em;
}

.comp2 {
    width: 48%;
    height: 26em;
    margin-right: 2%;
    display: flex;
}

.comp21 {
    width: 46%;
    height: 26em;
    margin-left: 1em;
}

.cas1 {
    width: 100%;
    height: 11em;
    margin-top: 2em;
    background-color: white;
}

.cas2 {
    width: 100%;
    height: 11em;
    background-color: white;
    margin-top: 2em;
}

.comp22 {
    width: 46%;
    height: 26em;
    margin-left: 1em;
}

.cas3 {
    width: 100%;
    height: 12em;
    background-color: white;
    margin-top: 3%;
}

.cas4 {
    width: 100%;
    height: 12em;
    background-color: white;
    margin-top: 5%;
} 

.change {
    width: 100%;
    height: 13em;
    text-align: center;
    margin-top: 3em;
}

.pays {
    width: 100%;
    height: 60em;
}

.parti1 {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-between;
}

.pays1 {
    width: 24%;
    height: 19em;
    margin-left: 11em;
}

.pays2 {
    width: 24%;
    height: 19em;
}

.pays3 {
    width: 24%;
    height: 19em;
    margin-right: 11em;
}

.parti2 {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-between;
}

.pays4 {
    width: 24%;
    height: 19em;
    margin-left: 11em;
}

.pays5 {
    width: 24%;
    height: 19em;
}

.pays6 {
    width: 24%;
    height: 19em;
    margin-right: 11em;
}

.parti3 {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-between;
}

.pays7 {
    width: 24%;
    height: 19em;
    margin-left: 11em;
}

.pays8 {
    width: 24%;
    height: 19em;
}

.pays9 {
    width: 24%;
    height: 19em;
    margin-right: 11em;
}

.rep {
    width: 100%;
    height: 10em;
    text-align: center;
margin-top: 4em;
}

.pied {
    width: 100%;
    height: 13%;
}